# Секреты и локальное окружение
.env
.env.local

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Локальная БД
*.sqlite
*.sqlite3
*.db

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Логи
*.logbackups/
